flows/Eggplant_Automated_Test_Run_Integration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>1176</locationX>
        <locationY>386</locationY>
        <actionName>eps.taskstatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Did_Test_Complete</targetReference>
        </connector>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Status.200.runstatus</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>run_test</name>
        <label>run test</label>
        <locationX>190</locationX>
        <locationY>349</locationY>
        <actionName>epstr.schedule_task</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Create_Result_Record</targetReference>
        </connector>
        <inputParameters>
            <name>test_config_id</name>
            <value>
                <elementReference>epsuiteid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Token</name>
        <label>Token</label>
        <locationX>190</locationX>
        <locationY>211</locationY>
        <actionName>eps.Gettokeninfo</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>run_test</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>executions</name>
        <dataType>String</dataType>
        <value>
            <stringValue>executions</stringValue>
        </value>
    </constants>
    <constants>
        <name>start_url</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://customer.autonomiq.ai/</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_Eggplant_Exexcute</name>
        <label>Did Eggplant Exexcute</label>
        <locationX>789</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Update_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eggplant Test Not Executed</defaultConnectorLabel>
        <rules>
            <name>Eggplant_Test_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>run_test.200.testx5fconfigx5fid</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Wait_for_Test_Completion</targetReference>
            </connector>
            <label>Eggplant Test Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Test_Complete</name>
        <label>Did Test Complete?</label>
        <locationX>1176</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Update_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Test Failed</defaultConnectorLabel>
        <rules>
            <name>Test_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.200.runstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASSED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Result</targetReference>
            </connector>
            <label>Test Succeeded</label>
        </rules>
        <rules>
            <name>Test_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.200.runstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INPROGRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Test_Completion</targetReference>
            </connector>
            <label>Test In Progress</label>
        </rules>
    </decisions>
    <description>Flow used to automatically kick off eggplant testing from a user story manual task, automation template or deployment.</description>
    <formulas>
        <name>CurrentTimeplus1minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(1/1440)</expression>
    </formulas>
    <formulas>
        <name>resultStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Status.200.runstatus}==&apos;SUCCESS&apos;, &apos;Success&apos;, &apos;Failed&apos;)</expression>
    </formulas>
    <formulas>
        <name>tcsJobId</name>
        <dataType>String</dataType>
        <expression>{!run_test.200.testx5fconfigx5fid}</expression>
    </formulas>
    <interviewLabel>Eggplant Automated Test Run Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eggplant Automated Test Run Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Result_Record</name>
        <label>Create Result Record</label>
        <locationX>309</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Update_Deployment_Job_with_Results</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>tcsJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Execute Eggplant Test Suite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Deployment_Job_with_Results</name>
        <label>Update Deployment Job with Results</label>
        <locationX>577</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Did_Eggplant_Exexcute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>copadoJobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Last_Result__c</field>
            <value>
                <elementReference>Create_Result_Record</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result</name>
        <label>Update Result</label>
        <locationX>797</locationX>
        <locationY>596</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Result_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>run_test.200.testx5fconfigx5fid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>resultStatus</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>78</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Token</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BrowserDetails</name>
        <apexClass>ExternalService__AutonomIQ_BrowserDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Copado deployment job record Id.</description>
        <name>copadoJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>epsuiteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id Of the AutonomIQ Project</description>
        <name>projectId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Id of the Suite to be executed</description>
        <name>suiteId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SuiteSucceeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcsResponse</name>
        <apexClass>ExternalService__AutonomIQ_TcsObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestSuiteRequest</name>
        <apexClass>ExternalService__AutonomIQ_TestSuiteExecRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Test_Completion</name>
        <label>Wait for Test Completion</label>
        <locationX>1029</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_always</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Status</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CurrentTimeplus1minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause always</label>
        </waitEvents>
    </waits>
</Flow>
