flows/jstorey_Eggplant_test_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Authenticate_with_Service</name>
        <label>Authenticate with Service</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>EggInteg_AuthenticationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>schedule_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>check_task_status</name>
        <label>check task status</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>EggInteg_CheckTaskStatusCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>access_token</name>
            <value>
                <elementReference>Authenticate_with_Service.access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task_instance_id</name>
            <value>
                <elementReference>schedule_task.task_instance_id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>schedule_task</name>
        <label>schedule task</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>EggInteg_ScheduleTaskCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_task_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>access_token</name>
            <value>
                <elementReference>Authenticate_with_Service.access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task_id</name>
            <value>
                <elementReference>Task_id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>jstorey - Eggplant test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>jstorey - Eggplant test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Authenticate_with_Service</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
